.nav {
    display: block;
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    padding: 0 24px 24px;
    box-sizing: border-box;
    background: var(--body-light-background);
    transition: top 0.4s;
    border-bottom: 2px solid var(--secondary);
}
@media screen and (min-width: 600px){
    .nav {
        display: block;
        position: relative;
        top: 0;
        width: 80px;
        height: 100%;
        border-right: 2px solid var(--secondary);
        border-bottom: none;
        background: none;
        padding: 0 24px;
        transition: width var(--menu-extend-time);
    }
}
.nav-show {
    top: 80px;
}

@media screen and (min-width: 600px){
    .nav-extend {
        width: 240px;
    }
}
.nav-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item {
    padding-top: 40px;

}
.nav-item-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.nav-item-link.active {
    font-weight: bold;
}
.nav-item-link.active .nav-logo-container {
    background: var(--decorative-pink-tone90);
    border-radius: 8px;
}
.nav-extend .nav-item-link.active .nav-logo-container {
    background: none;
}


.nav-logo-container {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-right: 5px;
}

.extend-container {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 24px;
}
@media screen and (min-width: 600px) {
    .extend-container {
        display: block;
    }
}

.nav-text {
    display: none;
    position: relative;
}
.nav-text:after {
    content: '';
    display: none;
}
.nav-extend .nav-text {
    display: initial;
}
.nav-extend .nav-item-link.active .nav-text:after {
    display: block;
    position: absolute;
    top: 4px;
    right: -18px;
    width: 12px;
    height: 12px;
    background: var(--primary);
    clip-path: polygon(50% 0%, 30% 30%,0% 50%, 30% 70%, 50% 100%, 70% 70%, 100% 50%, 70% 30%);
}


