:root {
    --primary: #FF8ACD;
    --secondary: #000000;
    --body-light-background: #FFFBF4;
    --white: #FFFFFF;
    --desktop-width: 600px;
    --menu-extend-time: .3s;
    --decorative-pink-tone70: #FFC6E7;
    --decorative-pink-tone90: #FFE2F3;
}