.layout {
  height: 100vh;
  position: relative;

}

@media screen and (min-width: 600px)  {
  .layout {
    display: grid;
    grid-template-columns: fit-content(0) auto;
    grid-template-rows: 80px auto;
    grid-template-areas:
    'header header'
    'navigation content';
    overflow: hidden;
  }
}

.header {
  grid-area: header;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
}
@media screen and (min-width: 600px)  {
  .header {
    position: relative;
    height: auto;
  }
}

.navigation {
  grid-area: navigation;
}
.content {
  padding: 80px 24px 30px;
  grid-area: content;
}

@media screen and (min-width: 600px)  {
  .content {
    padding-top: 0;
    padding-bottom: 50px;
    overflow-y: scroll;
  }
}